{% extends 'accounts/base.html' %}
{% load bootstrap4 %}

{% block head %}
<title>Sign Up | Social Stars</title>
{% endblock %}

{% block body_block %}

<div class="container">
    {% if registered %}
      <h1>Thank you for registering</h1>
    {% else %}
      <h1>Register Here!</h1>
      <h3>Fill out this form to register</h3>
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {% bootstrap_form user_form %}
          {% bootstrap_form profile_form %}
          <input class="btn btn-primary" type="submit" value="Register">
      </form>
    {% endif %}
</div>
{% endblock %}