{% extends "accounts/base.html" %}
{% load bootstrap4 %}

{% block head %}
<title>Reset Password | Social Stars</title>
{% endblock %}

{% block body_block %}
    <h1>Password Reset</h1>
    <p>
        Forgotten your password? Enter your email here, and we'll
        sent you email Instructions for setting new one.
    </p>
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" value="Send password reset email">
    </form>
{% endblock %}